{
  "ignore": [
    "node_modules/**/*.js"
  ],
  "compact": false,
  "retainLines": false,
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["> 2%"],
        "node": "8.0"
      }
    }]
  ]
}
